@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Audio visualizer animation */
@keyframes pulse {

  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.5);
  }
}

.audio-bar {
  animation: pulse 1s ease-in-out infinite;
}

.audio-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.audio-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.audio-bar:nth-child(4) {
  animation-delay: 0.3s;
}

.audio-bar:nth-child(5) {
  animation-delay: 0.4s;
}